spring:
  datasource:
    url: jdbc:h2:file:./data/blogdb-dev;MODE=MySQL;DATABASE_TO_UPPER=false;AUTO_SERVER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
